$black: #3e4a5e;
$gray-6: #4d5b73;
$gray-5: #778396;
$gray-4: #a3afbf;
$gray-3: #d3d9e0;
$gray-2: #e6eaf0;
$gray-1: #f7f9fc;
$white: #fff;

$factor: 16px;
$font-size: $factor;
$font-size-small: 14px;
$font-size-tiny: 12px;
$border-radius: $factor / 4;
$font-bold: 700;

$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$line: 1px solid $gray-2;
$ease-out: cubic-bezier(0, 0.6, 0.5, 1);
