$primary: #ff8b4a;
$secondary: #ef3662;
$accent: #ef3662;
$contrast: #4e2055;

$font-family: 'DM Sans', sans-serif;
$font-family-headings: 'Rubik', sans-serif;

$font-regular: 500;
$font-bold: 700;

$font-size-h1: 32px;
$font-size-h2: 24px;
$font-size-h3: 18px;

$box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.06);

$navigation-bar-height: 44px;
$tab-bar-height: 48px;
$tab-header-height: 144px;
