html,
body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: #3e4a5e;
  background-color: #f7f9fc;
  font-weight: 500;
  -webkit-overflow-scrolling: touch;
  min-height: 100%;
  padding: 0;
  margin: 0; }

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  overflow-x: hidden;
  overflow-y: auto; }
  body.turn-off-scroll {
    overflow-y: hidden; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

small {
  font-size: 14px; }

p {
  margin: 0 0 1rem 0; }
  p:last-child {
    margin-bottom: 0; }

i {
  vertical-align: middle; }
  i + span {
    vertical-align: middle;
    margin-left: 0.5rem; }

button {
  border-radius: 100px;
  background-color: #ef3662;
  color: #fff;
  border: none;
  height: 40px;
  padding: 0 1rem;
  outline: none;
  font-weight: 700;
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-flow: row nowrap; }
  button i {
    font-size: 16px; }
  button[data-size="small"] {
    padding: 0 0.5rem;
    height: 28px;
    font-size: 14px; }
    button[data-size="small"] i {
      font-size: 14px; }

grid-wrapper, grid-wrapper-fixed {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: -0.5rem -0.5rem 0.5rem -0.5rem; }
  grid-wrapper:last-of-type, grid-wrapper-fixed:last-of-type {
    margin-bottom: 0; }
  grid-wrapper[data-align="middle"] > grid-cell, grid-wrapper-fixed[data-align="middle"] > grid-cell {
    align-self: center; }
  grid-wrapper > grid-cell, grid-wrapper-fixed > grid-cell {
    vertical-align: baseline;
    font-size: inherit;
    min-width: 220px;
    flex: 1 1 0%;
    margin: 0.5rem;
    max-width: 100%; }
    grid-wrapper > grid-cell[data-shrink], grid-wrapper-fixed > grid-cell[data-shrink] {
      flex-basis: auto;
      flex-grow: 0; }
    grid-wrapper > grid-cell[data-align="right"], grid-wrapper-fixed > grid-cell[data-align="right"] {
      text-align: right; }
  grid-wrapper grid-wrapper > grid-cell, grid-wrapper-fixed grid-wrapper > grid-cell, grid-wrapper grid-wrapper-fixed > grid-cell, grid-wrapper-fixed grid-wrapper-fixed > grid-cell {
    min-width: 0; }

grid-wrapper-fixed {
  flex-flow: row nowrap; }
  grid-wrapper-fixed > grid-cell {
    min-width: 0; }

.mt-0 {
  margin-top: 0 !important; }

.mt-1 {
  margin-top: 1rem !important; }

.mt-2 {
  margin-top: 2rem !important; }

.mt-3 {
  margin-top: 3rem !important; }

.mt-4 {
  margin-top: 4rem !important; }

.mr-0 {
  margin-right: 0 !important; }

.mr-1 {
  margin-right: 1rem !important; }

.mr-2 {
  margin-right: 2rem !important; }

.mr-3 {
  margin-right: 3rem !important; }

.mr-4 {
  margin-right: 4rem !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.mb-1 {
  margin-bottom: 1rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.mb-3 {
  margin-bottom: 3rem !important; }

.mb-4 {
  margin-bottom: 4rem !important; }

.ml-0 {
  margin-left: 0 !important; }

.ml-1 {
  margin-left: 1rem !important; }

.ml-2 {
  margin-left: 2rem !important; }

.ml-3 {
  margin-left: 3rem !important; }

.ml-4 {
  margin-left: 4rem !important; }

.pt-0 {
  padding-top: 0 !important; }

.pt-1 {
  padding-top: 1rem !important; }

.pt-2 {
  padding-top: 2rem !important; }

.pt-3 {
  padding-top: 3rem !important; }

.pt-4 {
  padding-top: 4rem !important; }

.pr-0 {
  padding-right: 0 !important; }

.pr-1 {
  padding-right: 1rem !important; }

.pr-2 {
  padding-right: 2rem !important; }

.pr-3 {
  padding-right: 3rem !important; }

.pr-4 {
  padding-right: 4rem !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.pb-1 {
  padding-bottom: 1rem !important; }

.pb-2 {
  padding-bottom: 2rem !important; }

.pb-3 {
  padding-bottom: 3rem !important; }

.pb-4 {
  padding-bottom: 4rem !important; }

.pl-0 {
  padding-left: 0 !important; }

.pl-1 {
  padding-left: 1rem !important; }

.pl-2 {
  padding-left: 2rem !important; }

.pl-3 {
  padding-left: 3rem !important; }

.pl-4 {
  padding-left: 4rem !important; }

.color-discreet {
  color: #a3afbf; }

.color-text-discreet {
  color: #778396; }

a {
  color: #3e4a5e;
  text-decoration: none; }
  a.link {
    position: relative;
    text-decoration: none;
    color: #ff8b4a; }
    a.link::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #ff8b4a;
      height: 1px; }

my-view {
  display: block;
  min-height: 100vh; }

header-backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 400px;
  background-color: #3e4a5e;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: contain;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden; }

my-header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: #3e4a5e;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  height: 172px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left;
  z-index: 2;
  position: sticky;
  top: -112px; }
  my-header my-header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  my-header my-header-title {
    display: block;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    font-family: "Rubik", sans-serif; }
  my-header my-header-button button {
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px); }

my-content {
  position: relative;
  display: block;
  background-color: #f7f9fc;
  min-height: 100vh;
  padding-bottom: 48px; }

my-tag {
  display: inline-block;
  background-color: #e6eaf0;
  margin-right: 2px;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0.25rem;
  line-height: 1; }
  my-tag[data-color="accent"] {
    background-color: #ef3662;
    color: #fff; }

my-padding-wrapper {
  display: block;
  padding: 1rem; }

my-list-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  border-top: 1px solid #e6eaf0;
  padding: 1rem;
  color: #778396;
  font-weight: 700; }
  my-list-heading > *:last-child {
    font-weight: normal;
    color: #a3afbf; }

my-list-item {
  background-color: #fff;
  padding: 1rem;
  display: block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border-top: 1px solid #e6eaf0;
  margin-bottom: 3px; }
  my-list-item strong {
    display: block;
    margin-bottom: 0.25rem; }
  my-list-item small {
    display: block;
    margin-bottom: 0.5rem;
    color: #778396; }

cell-left,
cell-middle,
cell-right {
  width: 33.33333333333%; }

cell-left {
  text-align: left; }

cell-middle {
  text-align: center;
  font-weight: 700; }

cell-right {
  text-align: right; }

navigation-bar {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: fixed;
  z-index: 10;
  top: -44px;
  left: 0;
  right: 0;
  background-color: #fff;
  transition: top 0.3s cubic-bezier(0, 0.6, 0.5, 1); }
  navigation-bar.sticky {
    border-bottom: 1px solid #e6eaf0;
    top: 0; }

status-bar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px; }
  status-bar img {
    max-height: 15px; }

x-content {
  display: block; }

my-mobile-tabs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
  padding: 0 0.25rem;
  border-top: 1px solid #e6eaf0; }
  my-mobile-tabs my-mobile-tab-item {
    display: flex;
    flex-flow: column nowrap;
    width: 20%;
    align-items: center;
    font-weight: 700; }
    my-mobile-tabs my-mobile-tab-item a {
      color: #a3afbf;
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
      width: 100%; }
    my-mobile-tabs my-mobile-tab-item i {
      font-size: 21px !important;
      margin-bottom: 2px; }
    my-mobile-tabs my-mobile-tab-item my-mobile-tab-title {
      font-size: 12px; }
    my-mobile-tabs my-mobile-tab-item.active a {
      color: #3e4a5e; }

my-box {
  display: block;
  padding: 1rem;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.06); }

my-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: background 0.3s ease-in;
  pointer-events: none; }
  my-overlay my-overlay-content {
    display: block;
    padding: 1rem;
    max-height: calc(80vh - 48px - 1rem);
    overflow-y: auto; }
  my-overlay.is-visible {
    background: rgba(0, 0, 0, 0.7);
    pointer-events: all; }
    my-overlay.is-visible my-overlay-wrapper {
      transform: translateY(0); }
  my-overlay my-overlay-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700; }
    my-overlay my-overlay-header i.material-icons {
      background-color: #ef3662;
      border-radius: 100%;
      color: #fff;
      font-size: 20px;
      height: 28px;
      width: 28px;
      display: flex;
      align-items: center;
      justify-content: center; }
  my-overlay my-overlay-wrapper {
    transition: transform 0.3s cubic-bezier(0, 0.6, 0.5, 1);
    position: relative;
    max-width: 480px;
    max-height: 80vh;
    border-radius: 16px 16px 0 0;
    background: #fff;
    overflow: hidden;
    cursor: default;
    transform: translateY(100%); }
    my-overlay my-overlay-wrapper > * {
      padding: 1rem; }

html {
  visibility: visible;
  opacity: 1; }
