@import "_variables.scss";
@import "../../shared/styles/core.scss";
// @import "../../shared/styles/_variables.scss";
// @import "../../shared/styles/_mixins.scss";

a {
  color: $black;
  text-decoration: none;

  &.link {
    position: relative;
    text-decoration: none;
    color: $primary;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: $primary;
      height: 1px;
    }
  }
}

tab-view {
  display: block;
  min-height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

tab-header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header-backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 400px;
  background-color: $black;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: contain;
  -webkit-transform:translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
}

tab-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1rem;
  height: $tab-header-height;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left;
  z-index: 2;
  position: sticky;
  top: -64px;

  tab-header-title {
    display: block;
    color: $white;
    font-weight: $font-bold;
    font-size: $font-size-h3;
    font-family: $font-family-headings;
    margin-bottom: 1rem;
  }

  tab-header-button {
    margin-bottom: 1rem;

    button {
      background-color: rgba(black, 0.4);
      border: 1px solid $white;
    }
  }
}

tab-content {
  position: relative;
  z-index: 2;
  display: block;
  border-top-left-radius: $border-radius * 3;
  border-top-right-radius: $border-radius * 3;
  background-color: $gray-1;
  margin-top: -15px;
  min-height: 100vh;
}

x-tag {
  display: inline-block;
  background-color: $gray-2;
  margin-right: 2px;
  padding: 6px 8px;
  border-radius: $border-radius;
  font-size: $font-size-small;
  font-weight: $font-bold;
  margin-bottom: 0.25rem;
  line-height: 1;

  &[data-color="accent"] {
    background-color: $accent;
    color: $white;
  }
}

padding-wrapper {
  display: block;
  padding: 1rem;
}

list-heading {
  display: block;
  border-top: $line;
  padding: 1rem;
  color: $gray-5;
  font-weight: $font-bold;
}

list-item {
  background-color: $white;
  padding: 1rem;
  display: block;
  box-shadow: 0 2px 2px 0 rgba(black, 0.1);
  border-top: $line;
  margin-bottom: 3px;

  strong {
    display: block;
    margin-bottom: 0.25rem;
  }

  small {
    display: block;
    margin-bottom: 0.5rem;
    color: $gray-5;
  }
}

cell-left,
cell-middle,
cell-right {
  width: 33.33333333333%;
}

cell-left {
  text-align: left;
}

cell-middle {
  text-align: center;
  font-weight: $font-bold;
}

cell-right {
  text-align: right;
}

navigation-bar {
  height: $navigation-bar-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: fixed;
  z-index: 10;
  top: -$navigation-bar-height;
  left: 0;
  right: 0;
  background-color: $white;
  transition: top 0.3s $ease-out;

  &.sticky {
    border-bottom: $line;
    top: 0;
  }
}

status-bar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
  background-color: #000;

  img {
    max-height: 15px;
  }
}

x-content {
  display: block;
  // overflow-x: hidden;
}

mobile-tabs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: $white;
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  height: $tab-bar-height;
  padding: 0 0.25rem;
  border-top: $line;

  mobile-tab-item {
    display: flex;
    flex-flow: column nowrap;
    width: 20%;
    align-items: center;
    font-weight: $font-bold;

    a {
      color: $gray-4;
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
      width: 100%;
    }

    i {
      font-size: 21px !important;
      margin-bottom: 0.25rem;
    }

    mobile-tab-title {
      font-size: $font-size-tiny;
    }

    &.active a {
      color: $black;
    }
  }
}

x-box {
  display: block;
  padding: 1rem;
  border-radius: $border-radius * 2;
  background: $white;
  box-shadow: $box-shadow;
}

.simpleParallax {
    position: fixed;

    img {
      max-width: 100%;
    }
}

// FIX FOR FOUC
html {
  visibility: visible;
  opacity: 1;
}
