@import "_variables.scss";
@import "../../shared/styles/core.scss";

a {
  color: $black;
  text-decoration: none;

  &.link {
    position: relative;
    text-decoration: none;
    color: $primary;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: $primary;
      height: 1px;
    }
  }
}

my-view {
  display: block;
  min-height: 100vh;
  padding-bottom: calc(#{$mobile-tabs-height} + 1rem);
}

header-backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

my-header {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  height: $tab-header-height;
  z-index: 1;

  my-header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  my-header-title {
    display: block;
    color: $white;
    font-weight: $font-bold;
    font-size: $font-size-h2;
    font-family: $font-family-headings;
  }

  my-header-button {
    button {
      transition: all 0.3s ease;
      background-color: rgba(black, 0.4);
      // border: 1px solid $white;
      backdrop-filter: blur(2px);
    }
  }
}

my-content {
  position: relative;
  display: block;
  background-color: $gray-1;
  border-radius: $border-radius * 4 $border-radius * 4 0 0;
}

my-tag {
  display: inline-block;
  background-color: $gray-2;
  margin-right: 2px;
  padding: 6px 8px;
  border-radius: $border-radius;
  font-size: $font-size-small;
  font-weight: $font-bold;
  margin-bottom: 0.25rem;
  line-height: 1;

  &:empty {
    display: none;
  }

  &[data-color="accent"] {
    background-color: $accent;
    color: $white;
  }

  &[data-color="primary"] {
    background-color: $primary;
    color: $white;
  }
}

my-item-title {
  display: block;
  margin-bottom: 0.25rem;
  font-family: $font-family-headings;
  font-size: 1.2rem;
  font-weight: $font-bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 2rem);
}
my-padding-wrapper {
  display: block;
  padding: 1rem;
}

my-list-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  border-top: $line;
  padding: 1rem;
  color: $gray-5;
  font-weight: $font-bold;

  &:first-of-type {
    border-top: none;
  }

  & > * {
    &:last-child {
      font-weight: normal;
      color: $gray-4;
    }
  }
}

my-list-item {
  background-color: $white;
  padding: 1rem;
  display: block;
  box-shadow: 0 2px 2px 0 rgba(black, 0.1);
  border-top: $line;
  margin-bottom: 3px;

  strong {
    display: block;
    margin-bottom: 0.25rem;
    font-family: $font-family-headings;
    font-size: 1.2rem;
  }

  small {
    display: block;
    margin-bottom: 0.5rem;
    color: $gray-5;
  }
}

navigation-bar {
  $height: 44px;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 1rem 0.5rem 1rem;
  position: fixed;
  z-index: 10;
  height: $navigation-bar-height + $status-bar-height;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%) translate3d(0, 0, 0);
  background-color: rgba(white, 0.85);
  transition: transform 0.3s $ease-out;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  navigation-left {
    font-family: $font-family-headings;
    font-size: 20px;
    font-weight: $font-bold;
    text-align: left;
    letter-spacing: -0.05rem;
    height: 44px;
    line-height: 44px;
  }

  navigation-right {
    text-align: right;
    height: 44px;
    line-height: 44px;
    a {
      margin-right: 0.5rem;
    }

    i {
      margin-left: 0.5rem;

      &:hover {
        color: $accent;
      }
    }
  }

  &.at-top {
    border-bottom: $line;
    transform: translateY(0) translate3d(0, 0, 0);
  }
}

status-bar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: $status-bar-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;

  img {
    max-height: 15px;
  }
}

x-content {
  display: block;
  // overflow-x: hidden;
}

my-mobile-tabs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(white, 0.85);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  height: $mobile-tabs-height;
  padding: 0 0.25rem;
  border-top: $line;

  my-mobile-tab-item {
    display: flex;
    flex-flow: column nowrap;
    width: 20%;
    align-items: center;
    font-weight: $font-bold;

    a {
      color: $gray-4;
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
      width: 100%;
    }

    i {
      font-size: 21px !important;
      margin-bottom: 2px;
    }

    my-mobile-tab-title {
      font-size: $font-size-tiny;
    }

    &.active a {
      color: $black;
    }
  }
}

my-box {
  position: relative;
  display: block;
  padding: 1rem;
  border-radius: $border-radius * 3;
  background: $white;
}

my-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: rgba(black, 0);
  cursor: pointer;
  transition: background 0.3s ease-in;
  pointer-events: none;

  my-overlay-content {
    display: block;
    padding: 1rem;
    max-height: calc(80vh - #{$overlay-header-height} - 1rem);
    overflow-y: auto;
  }

  &.is-visible {
    background: rgba(black, 0.7);
    pointer-events: all;

    my-overlay-wrapper {
      transform: translateY(0);
    }
  }

  my-overlay-header {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    font-weight: $font-bold;

    i.material-icons {
      background-color: $accent;
      border-radius: 100%;
      color: $white;
      font-size: 20px;
      height: 28px;
      width: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  my-overlay-wrapper {
    transition: transform 0.3s 0.1s $ease-out;
    position: relative;
    max-width: 480px;
    max-height: 80vh;
    border-radius: $border-radius * 4 $border-radius * 4 0 0;
    background: $white;
    overflow: hidden;
    cursor: default;
    transform: translateY(100%);
  }
}

my-modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: rgba(black, 0);
  cursor: pointer;
  transition: background 0.3s ease-in;
  pointer-events: none;

  my-modal-content {
    display: block;
    padding: 0 1rem 2rem 1rem;
    max-height: calc(50vh - #{$overlay-header-height} - 1rem);
    overflow-y: auto;
  }

  &.is-visible {
    background: rgba(black, 0.7);
    pointer-events: all;

    my-modal-wrapper {
      transform: translateY(0);
    }
  }

  my-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: $font-bold;
    padding: 1rem;
    font-size: 1.2rem;
    font-family: $font-family-headings;
  }

  my-modal-footer {
    display: block;
    padding: 1rem;

    button {
      &:first-child {
        margin-bottom: 0.5rem;
      }
    }
  }

  my-modal-wrapper {
    transition: transform 0.3s 0.1s $ease-out;
    position: relative;
    max-width: 480px;
    max-height: 50vh;
    margin: 0 1rem 1rem 1rem;
    border-radius: $border-radius * 4;
    background: $white;
    overflow: hidden;
    cursor: default;
    transform: translateY(110%);
  }
}

* {
  &::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

my-ad-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: rgba(black, 0);
  cursor: pointer;
  transition: background 0.3s ease-in;
  pointer-events: none;

  my-ad-overlay-sub-heading {
    color: $accent;
    display: block;
    font-size: $font-size-small;
    font-weight: $font-bold;
  }

  my-ad-overlay-heading {
    display: block;
    font-size: 18px;
    font-weight: $font-bold;
    font-family: $font-family-headings;
  }

  my-ad-overlay-content {
    display: block;
    padding: 0 1rem 4rem 1rem;
    max-height: calc(100vh - #{$overlay-header-height} - 2rem);
    overflow-y: auto;

    button {
      transition: bottom 0.5s 0.3s $ease-out;
      position: fixed;
      bottom: -4rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.is-visible {
    background: rgba(black, 0.7);
    pointer-events: all;

    button {
      bottom: 1rem;
    }

    my-ad-overlay-wrapper {
      transform: translateY(0);
    }
  }

  my-ad-overlay-header {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    font-weight: $font-bold;

    i.material-icons {
      background-color: $accent;
      border-radius: 100%;
      color: $white;
      font-size: 20px;
      height: 28px;
      width: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  my-ad-overlay-wrapper {
    transition: transform 0.3s 0.1s $ease-out;
    position: relative;
    max-width: 480px;
    height: calc(100vh - 2rem);
    border-radius: $border-radius * 4 $border-radius * 4 0 0;
    background: $white;
    overflow: hidden;
    cursor: default;
    transform: translateY(100%);
  }
}

// FIX FOR FOUC
html {
  visibility: visible;
  opacity: 1;
}

my-wizard-view {
  display: block;
  min-height: 100vh;
  background-color: $contrast;
  background-image: url("/lanefinder/images/wizard-background-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 1rem;

  my-wizard-navigation-bar {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    color: $white;
    padding: 1rem;
    margin-top: $status-bar-height;
  }

  my-box {
    margin-bottom: 1rem;
  }
}

my-saved-searches-item {
  display: block;
  position: relative;
  background-color: $white;
  border-bottom: $line;
  padding: 1rem;

  &:first-child {
    border-radius: $border-radius-large;
  }

  i {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: $gray-3;
  }

  p {
    color: $gray-4;
    margin: 0;
  }

  my-tag {
    margin-top: 1rem;
  }
}

list-item {
  display: block;
  position: relative;
  background-color: $white;

  &:first-child {
    border-top-left-radius: $border-radius-large;
    border-top-right-radius: $border-radius-large;
  }

  list-item-title {
    display: block;
    margin-bottom: 0.25rem;
    font-family: $font-family-headings;
    font-size: 1.2rem;
    font-weight: $font-bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 2rem);
    padding: 0 1rem;
  }

  list-item-description {
    display: block;
    padding: 0 1rem;
    color: $gray-4;
  }

  &[data-layout="right"] {
    border-bottom: $line;
    padding: 1rem 0;

    &::after {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.5rem;
      color: $gray-3;
      font-family: "Material Icons";
      content: "navigate_next";
      -webkit-font-feature-settings: "liga";
    }
  }
}
