button {
  border-radius: 100px;
  background-color: $gray-2;
  color: $black;
  border: none;
  outline: none;
  font-weight: $font-bold;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  flex-flow: row nowrap;
  font-size: $font-size;
  padding: 0 2rem;
  height: 48px;
  font-size: $font-size-small;

  i {
    font-size: $font-size;
  }

  &.block {
    display: block;
    width: 100%;
  }

  &.discreet {
    background-color: transparent;
    border: $line;
  }

  &.primary,
  &.secondary,
  &.success,
  &.danger,
  &.accent {
    color: $white;
  }

  &.primary {
    background-color: $primary;
  }

  &.secondary {
    background-color: $secondary;
  }

  &.success {
    background-color: $success;
  }

  &.danger {
    background-color: $danger;
  }

  &.accent {
    background-color: $accent;

    &.glow {
      box-shadow: 0 8px 12px rgba($accent, 0.3);
    }
  }

  &.small {
    padding: 0 1rem;
    height: 32px;
    font-size: $font-size-small;

    i {
      font-size: $font-size-small;
    }
  }
}

icon-button {
  display: inline-block;

  i.material-icons {
    background-color: rgba(black, 0.2);
    border-radius: 100%;
    color: $white;
    font-size: 20px;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
