button {
  border-radius: 100px;
  background-color: $gray-5;
  color: $white;
  border: none;
  outline: none;
  font-weight: $font-bold;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  flex-flow: row nowrap;
  font-size: $font-size;
  padding: 0 2rem;
  height: 48px;
  font-size: $font-size-small;

  i {
    font-size: $font-size-small;
  }

  &[data-block] {
    display: block;
    width: 100%;
  }

  i {
    font-size: $font-size;
  }

  &[data-color="accent"] {
    background-color: $accent;
  }

  &[data-size="small"] {
    padding: 0 1rem;
    height: 32px;
    font-size: $font-size-small;

    i {
      font-size: $font-size-small;
    }
  }

  &[data-glow] {
    box-shadow: 0 8px 12px rgba($accent, 0.5);
  }
}

icon-button {
  display: inline-block;

  i.material-icons {
    background-color: rgba(black, 0.2);
    border-radius: 100%;
    color: $white;
    font-size: 20px;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
