button {
  border-radius: 100px;
  background-color: $gray-5;
  color: $white;
  border: none;
  outline: none;
  font-weight: $font-bold;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  flex-flow: row nowrap;
  font-size: $font-size;
  padding: 0 2rem;
  height: 48px;
  font-size: $font-size-small;

  i {
    font-size: $font-size-small;
  }

  &[data-block] {
    display: block;
    width: 100%;
  }

  i {
    font-size: $font-size;
  }

  &[data-color="accent"] {
    background-color: $accent;
  }

  &[data-size="small"] {
    padding: 0 1rem;
    height: 32px;
    font-size: $font-size-small;

    i {
      font-size: $font-size-small;
    }
  }

  &[data-glow] {
    box-shadow: 0 8px 12px rgba($accent, 0.5);
  }
}

button-container {
  display: block;
  text-align: center;
  padding: 1rem;


  &[data-position="fixed"] {
    transition: transform 0.3s $ease-out;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: $tab-bar-height;

    &[data-hide] {
      transform: translateX(-50%) translateY(200%);

      &.show {
        transform: translateX(-50%) translateY(0%)
      }
    }
  }
}
