grid-row {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: -1rem;

  &.gutter-none {
    margin: 0;

    & > grid-cell {
      margin: 0;
    }
  }

  &.gutter-small {
    margin: -0.5rem;

    & > grid-cell {
      margin: 0.5rem;
    }
  }

  &.middle {
    & > grid-cell {
      align-self: center;
    }
  }

  & > grid-cell {
    vertical-align: baseline;
    font-size: inherit;
    min-width: 220px;
    flex: 1 1 0%;
    margin: 1rem;
    max-width: 100%;

    &.shrink {
      flex-basis: auto;
      flex-grow: 0;
    }
  }

  grid-row {
    & > grid-cell {
      min-width: 0;
    }
  }
}

grid-row-fixed {
  @extend grid-row;
  flex-flow: row nowrap;

  & > grid-cell {
    min-width: 0;
  }
}
