@for $i from 0 to 5 {
  .mt-#{$i} {
    margin-top: $i + rem !important;
  }
  .mr-#{$i} {
    margin-right: $i + rem !important;
  }
  .mb-#{$i} {
    margin-bottom: $i + rem !important;
  }
  .ml-#{$i} {
    margin-left: $i + rem !important;
  }
  .pt-#{$i} {
    padding-top: $i + rem !important;
  }
  .pr-#{$i} {
    padding-right: $i + rem !important;
  }
  .pb-#{$i} {
    padding-bottom: $i + rem !important;
  }
  .pl-#{$i} {
    padding-left: $i + rem !important;
  }
}

.color-discreet {
  color: $gray-4;
}

.color-text-discreet {
  color: $gray-5;
}

.space-between {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.align-right {
  text-align: right;
}

.text-small {
  font-size: $font-size-small;
}

.no-break {
  white-space: nowrap;
}
