@import "_variables.scss";
@import "../../../shared/styles/core.scss";

a {
  color: $black;
  text-decoration: none;

  &.link {
    position: relative;
    text-decoration: none;
    color: $primary;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: $primary;
      height: 1px;
    }
  }
}

button-container {
  display: block;
  text-align: center;
  padding: 1rem;


  &[data-position="fixed"] {
    transition: transform 0.3s $ease-out;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: $tab-bar-height;

    &[data-hide] {
      transform: translateX(-50%) translateY(200%);

      &.show {
        transform: translateX(-50%) translateY(0%)
      }
    }
  }
}


main-view {
  display: block;
  min-height: 100vh;
  padding-bottom: calc(#{$mobile-tabs-height} + 1rem + 48px);
}

header-backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

view-header {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  height: $tab-header-height;
  z-index: 1;

  header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header-title {
    display: block;
    color: $white;
    font-weight: $font-bold;
    font-size: $font-size-h2;
    font-family: $font-family-headings;
  }

  header-button {
    button {
      transition: all 0.3s ease;
      background-color: rgba(black, 0.5);
      backdrop-filter: blur(2px);
    }
  }
}

view-content {
  position: relative;
  display: block;
  background-color: $gray-1;
  border-radius: $border-radius * 4 $border-radius * 4 0 0;
}

tag-item {
  display: inline-block;
  background-color: $gray-2;
  margin-right: 2px;
  padding: 6px 8px;
  border-radius: $border-radius;
  font-size: $font-size-small;
  font-weight: $font-bold;
  margin-bottom: 0.25rem;
  line-height: 1;

  &:empty {
    display: none;
  }

  &[data-color="accent"] {
    background-color: $accent;
    color: $white;
  }

  &[data-color="primary"] {
    background-color: $primary;
    color: $white;
  }
}

my-item-title {
  display: block;
  margin-bottom: 0.25rem;
  font-family: $font-family-headings;
  font-size: 1.2rem;
  font-weight: $font-bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 2rem);
}
padding-wrapper {
  display: block;
  padding: 1rem;
}

list-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  padding: 1rem;
  color: $gray-5;
  font-weight: $font-bold;

  &:first-of-type {
    border-top: none;
  }

  & > * {
    &:last-child {
      font-weight: normal;
      color: $gray-4;
    }
  }
}

navigation-bar {
  $height: 44px;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 1rem 0.5rem 1rem;
  position: fixed;
  z-index: 10;
  height: $navigation-bar-height + $status-bar-height;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%) translate3d(0, 0, 0);
  background-color: rgba(white, 0.85);
  transition: transform 0.3s $ease-out;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  &[data-static] {
    position: static;
    background-color: transparent;
    transform: translateY(0);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }

  &[data-dark] {
    a {
      color: $primary;
    }
  }

  block-left {
    font-family: $font-family-headings;
    font-size: 20px;
    font-weight: $font-bold;
    text-align: left;
    letter-spacing: -0.05rem;
    height: 44px;
    line-height: 44px;
  }

  block-right {
    text-align: right;
    height: 44px;
    line-height: 44px;

    a {
      margin-right: 0.5rem;
    }

    i {
      margin-left: 0.5rem;

      &:hover {
        color: $accent;
      }
    }
  }

  &.at-top {
    border-bottom: $line;
    transform: translateY(0) translate3d(0, 0, 0);
  }
}

status-bar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: $status-bar-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;

  img {
    max-height: 15px;
  }

  .black {
    display: none;
  }

  &[data-color="black"],
  &.at-top {
    .black {
      display: block;
    }
    .white {
      display: none;
    }
  }
}

my-mobile-tabs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(white, 0.85);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  height: $mobile-tabs-height;
  padding: 0 0.25rem;
  border-top: $line;

  my-mobile-tab-item {
    display: flex;
    flex-flow: column nowrap;
    width: 20%;
    align-items: center;
    font-weight: $font-bold;

    a {
      color: $gray-4;
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
      width: 100%;
    }

    i {
      font-size: 21px !important;
      margin-bottom: 2px;
    }

    my-mobile-tab-title {
      font-size: $font-size-tiny;
    }

    &.active a {
      color: $black;
    }
  }
}

box-block {
  position: relative;
  display: block;
  padding: 1rem;
  border-radius: $border-radius * 3;
  background: $white;
}

generic-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: rgba(black, 0);
  cursor: pointer;
  transition: background 0.3s ease-in;
  pointer-events: none;

  overlay-wrapper {
    transition: transform 0.3s $ease-out;
    position: relative;
    max-width: 480px;
    max-height: 80vh;
    border-radius: $border-radius * 4 $border-radius * 4 0 0;
    background: $white;
    overflow: hidden;
    cursor: default;
    transform: translateY(100%) translateZ(0);
  }

  overlay-content {
    display: block;
    padding: 1rem;
    max-height: calc(80vh - #{$overlay-header-height} - 1rem);
    overflow-y: auto;
  }

  &.is-visible {
    background: rgba(black, 0.7);
    pointer-events: all;

    overlay-wrapper {
      transform: translateY(0) translateZ(0);
    }
  }

  overlay-header {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    font-weight: $font-bold;
  }
}

generic-modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: rgba(black, 0);
  cursor: pointer;
  transition: background 0.3s ease-in;
  pointer-events: none;

  modal-content {
    display: block;
    padding: 0 1rem 2rem 1rem;
    max-height: calc(50vh - #{$overlay-header-height} - 1rem);
    overflow-y: auto;
  }

  &.is-visible {
    background: rgba(black, 0.7);
    pointer-events: all;

    modal-wrapper {
      transform: translateY(0);
    }
  }

  modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: $font-bold;
    padding: 1rem;
    font-size: 1.2rem;
    font-family: $font-family-headings;
  }

  modal-footer {
    display: block;
    padding: 1rem;

    button {
      &:first-child {
        margin-bottom: 0.5rem;
      }
    }
  }

  modal-wrapper {
    transition: transform 0.3s 0.1s $ease-out;
    position: relative;
    max-width: 480px;
    max-height: 50vh;
    margin: 0 1rem 1rem 1rem;
    border-radius: $border-radius * 4;
    background: $white;
    overflow: hidden;
    cursor: default;
    transform: translateY(110%);
  }
}

* {
  &::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

ad-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: rgba(black, 0);
  cursor: pointer;
  transition: background 0.3s ease-in;
  pointer-events: none;

  ad-overlay-sub-heading {
    color: $accent;
    display: block;
    font-size: $font-size-small;
    font-weight: $font-bold;
  }

  ad-overlay-heading {
    display: block;
    font-size: 18px;
    font-weight: $font-bold;
    font-family: $font-family-headings;
  }

  ad-overlay-content {
    display: block;
    padding: 0 1rem 4rem 1rem;
    max-height: calc(100vh - #{$overlay-header-height} - 2rem);
    overflow-y: auto;

    button {
      transition: bottom 0.5s 0.3s $ease-out;
      position: fixed;
      bottom: -4rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.is-visible {
    background: rgba(black, 0.7);
    pointer-events: all;

    button {
      bottom: 1rem;
    }

    ad-overlay-wrapper {
      transform: translateY(0);
    }
  }

  ad-overlay-header {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    font-weight: $font-bold;

    i.material-icons {
      background-color: $accent;
      border-radius: 100%;
      color: $white;
      font-size: 20px;
      height: 28px;
      width: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  ad-overlay-wrapper {
    transition: transform 0.3s 0.1s $ease-out;
    position: relative;
    max-width: 480px;
    height: calc(100vh - 2rem);
    border-radius: $border-radius * 4 $border-radius * 4 0 0;
    background: $white;
    overflow: hidden;
    cursor: default;
    transform: translateY(100%);
  }
}

wizard-view {
  display: block;
  min-height: 100vh;
  background-color: $contrast;
  background-image: url("/lanefinder/assets/images/wizard-background-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  wizard-title {
    display: block;
    font-size: $font-size-large;
    font-family: $font-family-headings;
    color: $white;
    padding: 0 1rem;
  }

  box-block {
    margin-bottom: 1rem;
  }

  wizard-content {
    display: block;
    padding: 1rem;
  }
}

job-list-item {
  display: block;
  background-color: $white;
  padding: 1rem 0 0 0;

  list-item-description {
    margin-top: 1rem;
    color: $black;
  }
}

list-item {
  display: block;
  position: relative;
  background-color: $white;
  padding: 1rem 0 0 0;

  &:first-child {
    border-top-left-radius: $border-radius-large;
    border-top-right-radius: $border-radius-large;
  }

  & + list-heading {
    margin-top: -5px;
  }

  &[data-layout="right"] {
    list-divider {
      height: 0;
      background-color: transparent;
      box-shadow: none;
      border-top: $line;
    }

    &::after {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.5rem;
      color: $gray-3;
      font-family: "Material Icons";
      content: "navigate_next";
      -webkit-font-feature-settings: "liga";
    }
  }
}

list-item-title {
  display: block;
  margin-bottom: 0.25rem;
  font-family: $font-family-headings;
  font-size: 1.1rem;
  font-weight: $font-bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 2rem);
  padding: 0 1rem;
}

list-item-sub-title {
  display: block;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
  color: $gray-5;
}

list-item-description {
  display: block;
  padding: 0 1rem;
  color: $gray-4;
}

list-item-tags {
  display: block;
  margin-top: 1rem;
  padding: 0 1rem;
}

list-item-header-tags {
  display: block;
  padding: 0 1rem;
}

list-divider {
  display: block;
  margin-top: 1rem;
  height: 5px;
  background-color: $gray-1;
  box-shadow: inset 0 1px 2px rgba(black, 0.1);
}

icon-button {
  display: inline-block;

  i.material-icons {
    background-color: $accent;
    border-radius: 100%;
    color: $white;
    font-size: 20px;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

carrier-list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row nowrap;
  padding: 1rem 0;
  border-bottom: $line;
  background-color: $white;

  &:first-child {
    border-top-left-radius: $border-radius-large;
    border-top-right-radius: $border-radius-large;
  }

  list-item-checkbox {
    display: block;
    flex: 0 1 auto;
    padding-left: 1rem;
  }

  list-item-carrier {
    display: block;
    flex: 1 1 auto;
    padding: 0 1rem;

    & > div {
      color: $gray-4;
    }
  }

  list-item-distance {
    display: block;
    flex: 0 1 auto;
    padding-right: 1rem;
    white-space: nowrap;
    color: $gray-4;
  }
}

// FIX FOR FOUC
html {
  visibility: visible;
  opacity: 1;
}
