$primary: #ff8b4a;
$secondary: #ef3662;
$accent: #ef3662;
$contrast: #4e2055;

$black: #3e4a5e;
$gray-6: #4d5b73;
$gray-5: #778396;
$gray-4: #a3afbf;
$gray-3: #d3d9e0;
$gray-2: #e6eaf0;
$gray-1: #f7f9fc;
$white: #fff;

$primary-offset: adjust-hue($primary, -50);
$primary-darken: mix($primary, black, 90%);
$complement: #82f34f;
$border-radius: 4px;
$factor: 16px;
$font-size: $factor;
$font-size-small: 14px;
$font-size-tiny: 12px;
$font-size-h3: 18px;
$light: 300;
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$font-family: 'DM Sans', sans-serif;
$font-family-headings: 'Rubik', sans-serif;
$font-regular: 500;
$font-bold: 700;
$line: 1px solid $gray-2;
$box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.06);


$navigation-bar-height: 44px;
$tab-bar-height: 48px;
$tab-header-height: 120px;
