html,
body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  height: 100%;
  color: #3e4a5e;
  background-color: #f7f9fc;
  font-weight: 500;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  overflow-x: hidden;
  overflow-y: auto; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

small {
  font-size: 14px; }

a {
  position: relative;
  text-decoration: none;
  color: #ff8b4a; }
  a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ff8b4a;
    height: 1px; }

p {
  margin: 0 0 1rem 0; }
  p:last-child {
    margin-bottom: 0; }

i {
  vertical-align: middle; }
  i + span {
    vertical-align: middle;
    margin-left: 0.5rem; }

button {
  border-radius: 100px;
  background-color: #ef3662;
  color: #fff;
  border: none;
  height: 40px;
  padding: 0 1rem;
  outline: none; }
  button i {
    font-size: 16px; }
  button[data-size="small"] {
    padding: 0 0.5rem;
    height: 28px;
    font-size: 14px; }
    button[data-size="small"] i {
      font-size: 14px; }

.mt-0 {
  margin-top: 0 !important; }

.mt-1 {
  margin-top: 1rem !important; }

.mt-2 {
  margin-top: 2rem !important; }

.mt-3 {
  margin-top: 3rem !important; }

.mt-4 {
  margin-top: 4rem !important; }

.mr-0 {
  margin-right: 0 !important; }

.mr-1 {
  margin-right: 1rem !important; }

.mr-2 {
  margin-right: 2rem !important; }

.mr-3 {
  margin-right: 3rem !important; }

.mr-4 {
  margin-right: 4rem !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.mb-1 {
  margin-bottom: 1rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.mb-3 {
  margin-bottom: 3rem !important; }

.mb-4 {
  margin-bottom: 4rem !important; }

.ml-0 {
  margin-left: 0 !important; }

.ml-1 {
  margin-left: 1rem !important; }

.ml-2 {
  margin-left: 2rem !important; }

.ml-3 {
  margin-left: 3rem !important; }

.ml-4 {
  margin-left: 4rem !important; }

.pt-0 {
  padding-top: 0 !important; }

.pt-1 {
  padding-top: 1rem !important; }

.pt-2 {
  padding-top: 2rem !important; }

.pt-3 {
  padding-top: 3rem !important; }

.pt-4 {
  padding-top: 4rem !important; }

.pr-0 {
  padding-right: 0 !important; }

.pr-1 {
  padding-right: 1rem !important; }

.pr-2 {
  padding-right: 2rem !important; }

.pr-3 {
  padding-right: 3rem !important; }

.pr-4 {
  padding-right: 4rem !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.pb-1 {
  padding-bottom: 1rem !important; }

.pb-2 {
  padding-bottom: 2rem !important; }

.pb-3 {
  padding-bottom: 3rem !important; }

.pb-4 {
  padding-bottom: 4rem !important; }

.pl-0 {
  padding-left: 0 !important; }

.pl-1 {
  padding-left: 1rem !important; }

.pl-2 {
  padding-left: 2rem !important; }

.pl-3 {
  padding-left: 3rem !important; }

.pl-4 {
  padding-left: 4rem !important; }

.color-discreet {
  color: #a3afbf; }

.color-text-discreet {
  color: #778396; }

grid-wrapper, grid-wrapper-fixed {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: -0.5rem -0.5rem 0.5rem -0.5rem; }
  grid-wrapper:last-of-type, grid-wrapper-fixed:last-of-type {
    margin-bottom: 0; }
  grid-wrapper[data-align="center"] > grid-cell, grid-wrapper-fixed[data-align="center"] > grid-cell {
    align-self: center; }
  grid-wrapper > grid-cell, grid-wrapper-fixed > grid-cell {
    vertical-align: baseline;
    font-size: inherit;
    min-width: 220px;
    flex: 1 1 0%;
    margin: 0.5rem;
    max-width: 100%; }
    grid-wrapper > grid-cell.grow, grid-wrapper-fixed > grid-cell.grow {
      min-width: 66.666666%; }
  grid-wrapper grid-wrapper > grid-cell, grid-wrapper-fixed grid-wrapper > grid-cell, grid-wrapper grid-wrapper-fixed > grid-cell, grid-wrapper-fixed grid-wrapper-fixed > grid-cell {
    min-width: 0; }

grid-wrapper-fixed {
  flex-flow: row nowrap; }

tab-view {
  display: block;
  min-height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }

tab-header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-image: url(/lanefinder/images/header-image-dashboard.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: contain; }

tab-header {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1rem 1rem 2rem 1rem;
  height: 120px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left;
  background-attachment: contain; }
  tab-header.sticky {
    background-image: url(/lanefinder/images/header-image-dashboard.png);
    transition: box-shadow 0.3s ease, background 0.3s ease;
    position: fixed;
    z-index: 2;
    padding-bottom: 1rem;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); }
  tab-header.sticky + tab-content {
    margin-top: 154px; }
  tab-header tab-header-title {
    display: block;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    font-family: "Rubik", sans-serif; }
  tab-header tab-header-button button {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #fff; }

tab-content {
  position: relative;
  z-index: 1;
  display: block;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 100%;
  background-color: #f7f9fc;
  margin-top: -15px; }

x-tag {
  display: inline-block;
  background-color: #e6eaf0;
  margin-right: 2px;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0.25rem;
  line-height: 1; }
  x-tag[data-color="accent"] {
    background-color: #ef3662;
    color: #fff; }

padding-wrapper {
  display: block;
  padding: 1rem; }

list-heading {
  display: block;
  border-top: 1px solid #e6eaf0;
  padding: 1rem;
  color: #778396;
  font-weight: 700; }

list-item {
  background-color: #fff;
  padding: 1rem;
  display: block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border-top: 1px solid #e6eaf0;
  margin-bottom: 3px; }
  list-item strong {
    display: block;
    margin-bottom: 0.25rem; }
  list-item small {
    display: block;
    margin-bottom: 0.5rem;
    color: #778396; }

navigation-bar {
  height: 44px;
  display: flex;
  align-items: flex-end;
  padding: 0 1rem;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0; }

status-bar {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px; }
  status-bar img {
    max-height: 14px; }

content {
  display: block;
  overflow-x: hidden; }

mobile-tabs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: #fff;
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  border-top: 1px solid #e6eaf0; }
  mobile-tabs mobile-tab-item {
    display: flex;
    flex-flow: column nowrap;
    width: 20%;
    align-items: center;
    color: #a3afbf; }
    mobile-tabs mobile-tab-item i {
      font-size: 20px !important;
      margin-bottom: 0.25rem; }
    mobile-tabs mobile-tab-item mobile-tab-title {
      font-size: 11px; }

x-box {
  display: block;
  padding: 1rem;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.06); }
